version: '3.8'

# Shared configuration
x-common-env: &common-env
  PYTHONPATH: /app
  AUTH_TOKEN: auth-token
  FERNET_KEY: qkCoYgy9Whld8wg3GWstir9QN2Jy1HUrZSNZjnrEf4U= # i know this is not secure

services:
  master:
    build:
      context: .
      dockerfile: Dockerfile.master
    ports:
      - "50052:50052"
    networks:
      - grpc-network
    environment:
      <<: *common-env
      WORKER_1_ADDRESS: worker1
      WORKER_2_ADDRESS: worker2
      WORKER_1_PORT: 50053
      WORKER_2_PORT: 50054
      REPLICATION_TIMEOUT: 5.5
      QUORUM_LEVEL: 1
    volumes:
      - ./logs:/app/logs
      - ./master:/app/master
      - ./secondary_worker:/app/secondary_worker
      - ./api:/app/api
      - ./shared:/app/shared
      - ./start_grpc_server.py:/app/start_grpc_server.py
    command: sh -c "uv run watchmedo auto-restart --directory=/app --patterns='*.py' --recursive --debug-force-polling -- python start_grpc_server.py"
    restart: unless-stopped

  worker1:
    build:
      context: .
      dockerfile: Dockerfile.worker
      args:
        - PORT=50053
    ports:
      - "50053:50053"
    networks:
      - grpc-network
    environment:
      <<: *common-env
      MASTER_ADDRESS: master
      MASTER_PORT: 50052
      PORT: 50053
      MACHINE_ID: 1234
      TESTING_DELAY: 5
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped

  worker2:
    build:
      context: .
      dockerfile: Dockerfile.worker
      args:
        - PORT=50054
    ports:
      - "50054:50054"
    networks:
      - grpc-network
    environment:
      <<: *common-env
      MASTER_ADDRESS: master
      MASTER_PORT: 50052
      PORT: 50054
      MACHINE_ID: 5678
      TESTING_DELAY: 5
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped

networks:
  grpc-network:
    driver: bridge

volumes:
  logs: